# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
govt/
venv/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Datasets
# -----------------------------
Datasets/

# -----------------------------
# ChromaDB
# -----------------------------

Database/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

