<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Scheme's Fraud Duplicater</title>
   
    <link rel="stylesheet" href={{url_for("static", filename="index.css")}}>
</head>
<body>

    <h1>Government Scheme's Fraud & Duplicate Detector</h1><br>
<div>
    <form action="{{ url_for('login')}}" method="GET">
        <button type="submit"><big>LOGIN</big></button>
    </form>
</div>

</body>
</html>