<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>
<body>

<h1>PREDICTION SCORE</h1>

<div class="result-card">

    <p>
        Fraud Score :
        <span class="score">{{ report.fraud_score }}</span>
    </p>

    <p>
        Risk Level :
        <span class="{{ report.risk_level|lower }}">
            {{ report.risk_level }}
        </span>
    </p>

    <p>
        Face Verified :
        <span>{{ report.face_verified }}</span>
    </p>

    <p>
        Liveness Verified :
        <span>{{ report.liveness_verified }}</span>
    </p>

    <p>
        Duplicate Found :
        <span>{{ report.duplicate_found }}</span>
    </p>

    <p>
        Matched Person :
        <span>{{ report.matched_person }}</span>
    </p>

</div>

</body>
</html>